<html>
<head>
    <title>

    </title>
    <style>
        tr, td {
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
            border:1px solid black;
        }
        table{
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
        }
        h1 {
            font-size: 50px;
            background-color: black;
            color: #d5d5f7;
            text-align: center;
            font-family: Papyrus;
            border: 1px solid #d5b5f7;
            box-shadow: 5px 10px 10px 15px #d5d5f7;
             padding-top:5px;
             padding-bottom:5px;
            margin-bottom:50px;
        }
</style>
</head>
<body>
    <h1>Eyeliners</h1>
    <table>
        <tr>
            <td>
                <h4>
                    Maybelline New York Lifter Gloss - Petal (5.4ml)</h4>
                <img src="https://ci6.googleusercontent.com/proxy/QLJeQ2yBxJC-0qRd2v4U79vzFN4t6G78AxILzXztNTuSuYoDf9Eg2vCgGdtxEByIM-v7fOxYUa9x8fA6YlSMMFPKM0rehne-D3yFNrzNqg=s0-d-e1-ft#https://m.media-amazon.com/images/I/51ajDZpejxL._SL1500_.jpg"" width="200" height="200" />
                <p> 4.4/5  </P>
                   <p> 132474 ratings & 8934 reviews
                </p>

                <form action="eyeliner" method="GET">
                    <label for="1">MRP</label>
                    <input id="1" type="text" style="width:65px; font-weight:bold;" name="cost" value="539/-" readonly><del><small>599/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Maybelline New York Lifter Gloss - Petal (5.4ml)">ADD TO CART <i class="bi bi-cart4"></i></button></form>
             </td>


             <td>
                <h4>Lakme Eyeconic Liquid Eyeliner - Black (4.5ml)</h4>
                <img src="https://ci6.googleusercontent.com/proxy/uSy-YRbn7pRJweAJSxM99X8ALVsOrj7SBN453EMj0yix9NHCTCKq6iinxoI3aX3JyeapmovnvOhNSNZPGzCvMpeXNs9me6h7GzOFFwfbR56lU-CS-FqUO3ulwbgKyng9cDAZZYhq1yakaB6PCePxA_T9zAq16CPxQRXwIu8MHmlloqZsa66HzSGfMFk6uSS-Qd731OPgyQc=s0-d-e1-ft#https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK5xtcbkEFY2isuDD2hIvzCj_OiyTAcEdMN92l5ad_eUdhNvabJCvnFsVtsSUKvp9a9U8&usqp=CAU" width="200" height="200" />

                <p>4.4/5</p>
                <p>11172 ratings & 1330 reviews</p>
                <form action="eyeliner" method="GET">
                    <label for="2">MRP</label>
                    <input id="2" type="text" style="width:65px; font-weight:bold;" name="cost" value="169" readonly><del><small>260/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Lakme Eyeconic Liquid Eyeliner - Black (4.5ml)">ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Maybelline New York Lash
                    Sensational Sky High Waterproof Mascara (6ml)</h4>
                <img src="https://ci3.googleusercontent.com/proxy/LR-lsbos9ZAkNmWXt90WN89cCeJGorzt5H2hxi7tFdcFRGBNiGbSaqZjEBOJhM02eV551ctEgT63Q1x27yofVZixqNg5OgqvcB0GUdD1gkL9-eRVzGMaGdsA97BoCuctjIKdaEJIheY4YkHpCfZVJDzvxyvf_ry03yR--xV_P5k4HaQe-yLs30OR8fCek7wWj9hQxfZhnDI=s0-d-e1-ft#https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQARvD_tdrjP4os7INEbZhRVXU03jhjUVDGLxWNkHxvCgoUtBH95XDcRjo6kTaUOZjvKfE&usqp=CAU" width="200" height="200" />

                <p>4.5/5
                    1979 ratings & 318 reviews
                </p>
                <form action="eyeliner" method="GET">
                    <label for="3">MRP</label>
                    <input id="3" type="text" style="width:65px; font-weight:bold;" name="cost" value="599" readonly><del><small>799/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Maybelline New York Lash
                    Sensational Sky High Waterproof Mascara"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>LOreal Paris Voluminous
                    Lash Paradise Mascara
                    - 204 Blackest Black (7.6ml)</h4>
                <img src="https://ci3.googleusercontent.com/proxy/DwCoG7YROtpTyvwR3Alz8hBMtFosXquiJELnDPzjP8tb4lXoO7hvYpOE5EmpFOm7J9xK6Xb5sn91cR6Wd74gUsm0YXIpdIAD_MZFIDpl=s0-d-e1-ft#https://m.media-amazon.com/images/I/61byngoHfRL._SY355_.jpg" width="200" height="200" />

                <p>4.4/5
                    11482 ratings & 3369 reviews
                </p>
                <form action="eyeliner" method="GET">
                    <label for="4">MRP</label>
                    <input id= "4" type="text" style="width:65px; font-weight:bold;" name="cost" value="679" readonly><del><small>849/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="LOreal Paris Voluminous
                    Lash Paradise Mascara
                    - 204 Blackest Black (7.6ml)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>Maybelline New York Define
                    & Blend Brow Pencil -
                    Natural Brown (0.16g)</h4>
                <img src="https://ci6.googleusercontent.com/proxy/GGs7_PHPHGummU9djAEP57TNyo6BAvH-QEqaHKHpiuqaL0SRpdP5tnceKznuQMtky5SYnGtQyKrmmDCztWHOHEZkMsZfZ9uJmpEJ9fab=s0-d-e1-ft#https://m.media-amazon.com/images/I/51FZbsXa2qL._SY355_.jpg" width="200" height="200" />

                <p>4/5
                    2960 ratings & 314 reviews
                </p>
                <form action="eyeliner" method="GET">
                    <label for="5">MRP</label>
                    <input id="5" type="text" style="width:65px; font-weight:bold;" name="cost" value="279" readonly><del><small>349/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Maybelline New York Define
                    & Blend Brow Pencil -
                    Natural Brown (0.16g)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>
            </tr>

            <br><br><br>
        <tr>
            <td>
                <h4>MARS Glitter Eyeshadow Palette 7.65 g (Shade-02)</h4>
                <img src="https://ci5.googleusercontent.com/proxy/b3KjdQ8lesQHxHYxMILbhNc-g5KXYEfPF6F4W2qZ8SYzAg_8MpZG1_fpxCgH84xvNP3myFVTeJ__xvcww6Poc0BWcAETZ_7K-R8p-B7knw9qJ9jv8qzYiC0zwhv5r4Q7LhhxPJhaOEGbi6fXPOyKKy39Aa7RzOmFqNNYY2beB6PU7sU_dUBPuJwPRBXi7UYZ0PT0ggmuPQuudKraoi7ea0jk=s0-d-e1-ft#https://rukminim1.flixcart.com/image/612/612/kuh9yfk0/eye-shadow/r/9/v/7-65-glitter-eyeshadow-palette-mars-original-imag7hbytmehtrgx.jpeg?q=70" width="200" height="200" />

                <p>4.4/5
                    712 Ratings & 93 Reviews
                </p>
                <form action="eyeliner" method="GET">
                    <label for="6">MRP</label>
                    <input id="6" type="text" style="width:65px; font-weight:bold;" name="cost" value="300" readonly><del><small>499/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="MARS Glitter Eyeshadow Palette 7.65 g (Shade-02)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>




            <td>
                <h4>Nykaa Cosmetics Eyes On Me! 4 in 1 Quad Eyeshadow Palette</h4>
                <img src="https://ci3.googleusercontent.com/proxy/G7yszg_dTjt4zT26OpeksTcq9CMPQq8XQLKqwSmAwBF1ym7HqU33l1nApavra0kvZ2iINVS8tk_ii2DgEiaeHZf7b52IRM_Gew24wAKH7xWP1VUGYmsHke61cAYbaS1MYXJDVq-Xr8qkYBwbMze2yvViEIqqIsc1g_2ez5JxytCskuA0=s0-d-e1-ft#https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/7/4/7430fedNYKAC00000526_1.jpg" width="200" height="200" />

                <p>4.4/5
                    3957 ratings & 385 reviews
                </p>
                <form action="eyeliner" method="GET">
                    <label for="7">MRP</label>
                    <input id="7" type="text" style="width:65px; font-weight:bold;" name="cost" value="209" readonly><del><small>499/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Nykaa Cosmetics Eyes On Me! 4 in 1 Quad Eyeshadow Palette"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Allure Wing Liner Brush</h4>
                <img src="https://ci6.googleusercontent.com/proxy/0DKXeSVnK8ac3pvPar56PK1pBF3KVrDdJLfdIU9yyJefU4Tp_j23HyBRa1D-SPh3FNE69CiIQlFch8SZrYobiqK8TsGVYO8W6Pk_5ekGZCdzvBO2m16mlekKZlKL7A=s0-d-e1-ft#https://images-static.nykaa.com/media/catalog/product/6/2/6267591447933.jpg" width="200" height="200" />

                <p>4.1/5
                    15 ratings & 2 reviews
                </p>
                <form action="eyeliner" method="GET">
                    <label for="8">MRP</label>
                    <input id="8" type="text" style="width:65px; font-weight:bold;" name="cost" value="212" readonly><del><small>249/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Allure Wing Liner Brush"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>ULTRA FINE Liner Brush B112</h4>
                <img src="https://ci6.googleusercontent.com/proxy/9dstCIBWvd-0DZFG6fPgsZ55jUXolAfqvyRI6PHprQxiYjOJYz4KNH-e43qZiwFFbzurYIjuHFq55eiwEQSdNjJMGof_Oplajd_bmKIzZWp-nC-6mvlMjZ21uimmTFse-P8BbNy5ml-Pu82QV2UMUIIEVpLYVL-wUoTBPYG2JMvQdg4MDo62xyiWqdKWXsI__wZPuEk=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0595/7599/2459/products/112-min_f076f8bf-ca3f-4a61-99f2-100b8574c649.jpg?v=1663492533&width=600" width="200" height="200" />

                <p>5/5

                </p>
                <form action="eyeliner" method="GET">
                    <label for="9">MRP</label>
                    <input id="9" type="text" style="width:65px; font-weight:bold;" name="cost" value="420" readonly><del><small>499/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="ULTRA FINE Liner Brush B112"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>

            <td>
                <h4>Allure Classic Eye Liner Brush & Eye Applicator Combo</h4>
                <img src="https://ci3.googleusercontent.com/proxy/bu7y0ofc3Ms4BrvTa75ygwBJu6fvA4_2eQ8vOTCcDF1OclZaJofX1fJ0J0rvr8AVqZTtm366kGJ-0lV_BUTNyLn5Y0w83bP_XriPI-OUH9I6-rQCbkoq4FWDso5uOvwi4xiIfQzk29U9ufJZxYYs7YN628doMgsIA46l2-1-Xq3xO9Gw7Effp4Mlzr3yKg87EC7zn5t24x1nz89GjkTvuRvHhSu-RxJc4C2dYuIu5jaAQdoEZxyteHvgir7Bpn0xsG6NWz_sycdIr3390A=s0-d-e1-ft#https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ6dAMQiWjQGEEcTbQoe5-fukL486TXrlroq5RAyNU7iV0xeQCPZ06cb3bZdClDPCMoYMDC1u9vjAE0a8z7hNLLXLRK8HYOW1Q_VkzyPJF7WpgJm7YLfy_3jA&usqp=CAE" width="200" height="200" />

                <p>4.6/5

                </p>
                <form action="eyeliner" method="GET">
                    <label for="10">MRP</label>
                    <input id="10" type="text" style="width:65px; font-weight:bold;" name="cost" value="140" readonly><del><small>155/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Allure Classic Eye Liner Brush & Eye Applicator Combo"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>
        </tr>
        </table>
        <form action="cart" method="GET">
                    <center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="GO TO CART"></center></form>
   
</body>
</html>
