<!DOCTYPE html>
<html>
    <head>
    <title>
    Online HTML Editor
    </title>
    <style>
     /*  body {
            background-color: #E6E6FA;
            color: #00000f;
            background-image: url("https://img.freepik.com/premium-photo/overhead-view-makeup-products-white-background_23-2147899605.jpg");
            background-repeat: no-repeat;
            // background-size : cover;
            background-size: 100% 100%;
            padding: 100px 100px 300px 100px;
            float : right;
        } */

       
        ::placeholder{
            font-family:papyrus;
        }
        td,img{
            padding: 0px;
            width: 500px;
            height: 500px;
        }
        img{
            flaot: right;
        }
        form{
            float: left;
            font-size: 25px;
                }
        table,tr{
            border-radius: 10px;
            margin: 5%;
            color:black;
            /*border: 5px solid pink;*/
            box-shadow : 5px 5px 10px 10px gray;
        }

        .centered {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  text-align: left;
  color: solid black;
  font-size: 25px;
}
    </style>
</head>
    <body>
        <center>
        <table >
        <tr><td  style="padding-top: 0%;">
            <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSIGN UP HERE!!!!</h1>
            <form action = "/signupsubmit" method = "GET" id="signup">
            <label for ='name'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspName&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type='text' id = "name" name = "Name" placeholder="Name"><br><br>
            <label for ='em'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEmail&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type='email' id = "em" name = "Email" placeholder="Email address"><br><br>
            <label for ='pswd'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPassword&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type='password' required id = "pswd" name = "Password" placeholder="Password"><br><br>
            <label for ='rpswd'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspConfirm Password</label>
            <input type='password' id = "rpswd" required name = "ReqPassword" placeholder="Confirm password"><br><br>
            <center><input type="submit">
        <br />
        <a href= "login"  style="text-decoration:none; color: black;"><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAlready a user</h3>
       </a></center>
        </form>
       
       
   </td>
       <td><div class="container">
       <img src="https://img.freepik.com/premium-photo/overhead-view-makeup-products-white-background_23-2147899605.jpg"/>
       <div class="centered"><h1>BEAUTIFY</h1></div>
       <div class="centered" style="font-family: Lucida Handwriting; "><br><br><br><br><h6>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspGlow Everyday</h6></div>
   </div>
   </td>
</tr>
</table>
</center>
    </body>
</html>
