<html>
<head>
    <title>

    </title>
    <style>
        tr, td {
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
            border:1px solid black;
        }
        table{
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
        }
        h1 {
            font-size: 50px;
            background-color: black;
            color: #d5d5f7;
            text-align: center;
            font-family: Papyrus;
            border: 1px solid #d5b5f7;
            box-shadow: 5px 10px 10px 15px #d5d5f7;
             padding-top:5px;
             padding-bottom:5px;
            margin-bottom:50px;
        }
    </style>
</head>
<body>
    <h1>Blenders</h1>
    <table>
        <tr>
            <td>
                <h4>
                    Swiss Beauty Powder Brush Foudnation Blender Brush, Silver</h4>
                <img stylr="width: 50px; height: 50px; " src="https://ci6.googleusercontent.com/proxy/a1-NPOeZ1r6IC-XSvJnwP2ohq6qV2zb-RMQS1rby5k1CrhvFgHerhSZfbrBS2gbMVG9h3B3k6paR9CX0GamGVXYOl_9vjsvnSRIP8n15TNQn1JZpagIW_3uOyRCoPhRchNg=s0-d-e1-ft#https://images-eu.ssl-images-amazon.com/images/I/41ed1XCjY2L._AC._SR360,460.jpg" width="200" height="200" />
                <p> 4.8/5  </P>
                   <p> 258 ratings & 41 reviews
                </p>

                <form action="blenders" method="GET">
                    <label for="1">MRP</label>
                    <input id="1" type="text" style="width:65px; font-weight:bold;" name="cost" value="500/-"><del><small>599/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Swiss Beauty Powder Brush Foudnation Blender Brush, Silver">ADD TO CART <i class="bi bi-cart4"></i></button></form>
             </td>


             <td>
                <h4>Maybelline New York Master Foundation Oval Brush, 34.9g - Black</h4>
                <img src="https://ci5.googleusercontent.com/proxy/wcF1sHQX6DytjyaMw2XAKkVc9Mnfe0eXXdBUKTp58lAV0Xfu02XtkQvIUQKjzeggATRTP42JRKqXU2pqo6eifeF4PMLgsjocnpSDUp0j=s0-d-e1-ft#https://m.media-amazon.com/images/I/71fqrhltT8L._SY550_.jpg" width="200" height="200" />

                <p>4/5</p>
                <p>5 ratings & 1 reviews</p>
                <form action="blenders" method="GET">
                    <label for="2">MRP</label>
                    <input id="2" type="text" style="width:65px; font-weight:bold;" name="cost" value="208"><del><small>300/-</small></del><br>
                 <br>
                 <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Maybelline New York Master Foundation Oval Brush, 34.9g - Black">ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>URBANMAC Blush Brush for Makeup</h4>
                <br>
                <img src="https://ci5.googleusercontent.com/proxy/bmu0a3hsILeemqiv9TNjleOGNlxLRk3w_joOCYxo1L7PzT-anXBP4rAjvJ9rK9ALnnR5KTH-jMKJ7Spjkq7NFTbb9_3hWlo-707q2_70GVH0I9cdu_QwotwA2JQDGuDz4dY=s0-d-e1-ft#https://images-eu.ssl-images-amazon.com/images/I/71VXtHIy5KL._AC._SR360,460.jpg" width="200" height="200" />

                <p>5/5
                     235 ratings
                </p>
                <form action="blenders" method="GET">
                    <label for="3">MRP</label>
                    <input id="3" type="text" style="width:65px; font-weight:bold;" name="cost" value="205"><del><small>550/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="URBANMAC Blush Brush for Makeup"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>
             

            <td>
                <h4>Face Tapered brush AF-04</h4>
                <br>
                <img src="https://ci4.googleusercontent.com/proxy/2dr5-P04RqF5OCxeN-pFOlu5KckM4P1FDAA7YYKueoUL7CvO8eiZUkZGCbPN5e7tc91kYpKSVzfx14xWriz4H0CCg4GUOJq7yHp79MMIeJySYEz4tXAqq3rWcjMLIcOENmQDjhsG65SLWH8=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0637/5971/2495/products/8904231006188.jpg?v=1661850665" width="200" height="200" />

                <p>4/5
                    254 ratings & 42 reviews
                </p>
                <form action="blenders" method="GET">
                    <label for="4">MRP</label>
                    <input id= "4" type="text" style="width:65px; font-weight:bold;" name="cost" value="700"><del><small>1300/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Face Tapered brush AF-04"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>P20 - Professional Dense Tapered Concealer/Foundation Brush</h4>
                <img src="https://ci4.googleusercontent.com/proxy/g-N4_uMnAvvzXWBnR4m900DvvVxCl09y6KdF5e4nPK6CBG1Qcd4Hk9kxZc__K6Ib3-UW6VWjfJRPzg4WzlaBe3kgsjq7kq31K5THpbhIUFUvTThJe0qKdloqygfFXYsgAtZOdqSA2Dzs_MtpTcgaBKJHrGncylxYB5ZJVGpBa42WcjAFnyN9M06A-skXavEMH3DCD9Tj95vQh3Wwft_j_2aNjbSR7DeDa6lmvcIYQZgqRldkVbbA4eAazLiXkKCHZoI=s0-d-e1-ft#https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcS6Z_zF22prvfpwKy-NX1dgbwX72dSvLuu2oCm4BedaJmUFQ-ocDsNH4SpNs0vC6zgVRAKgceHdZbRqBjLVSTpP1KeI5cRLV_ApP0B0KNgz9lajGfaFTbh0" width="200" height="200" />

                <p>3.5/5
                     2555 ratings & 426 reviews
                </p>
                <form action="blenders" method="GET">
                    <label for="5">MRP</label>
                    <input id="5" type="text" style="width:65px; font-weight:bold;" name="cost" value="600"><del><small>640/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="P20 - Professional Dense Tapered Concealer/Foundation Brush"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>

            </tr>
            <br><br><br>
          <tr>
            <td>
                <h4>Byoode MUSHROOM SHAPE BEAUTY BLENDER AND BEAUTY SPONGE PACK OF 5
                </h4>
                <img src="https://ci6.googleusercontent.com/proxy/uNj1aJ1CyVzd6KtleLRrNrfx_wBnMFPQcuYgTZDPUtmCMlwDsXeOQW3eVzgEkrUZMmgafkAOwRDOX_4uHOB6dhtmPoerAQM-71hRX8LKfYQfEGDsFkXvj78CNhsvJQNNgcZ0vZrzwdXhQOvcoU-Hy_wvcGHWw8Y1AokjevCvS4DSjJuUxmmqMmprylt_XGx8KxzOmbcE-MIyMwMOINV4PHnlpVWH8Kamy_N-mqYicypUvHVxlhEL0OUJ446VtBIB=s0-d-e1-ft#https://rukminim1.flixcart.com/image/312/312/l2dmky80/puff-sponge/n/w/n/mushroom-shape-beauty-blender-and-beauty-sponge-pack-of-5-5-5-5m-original-imagdqfmgq3zzywt.jpeg?q=70" width="200" height="200" />

                <p>4/5
                    93 ratings & 12 reviews
                </p>
                <form action="blenders" method="GET">
                    <label for="6">MRP</label>
                    <input id="6" type="text" style="width:65px; font-weight:bold;" name="cost" value="400"><del><small>499/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Byoode MUSHROOM SHAPE BEAUTY BLENDER AND BEAUTY SPONGE PACK OF 5"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>




            <td>
                <h4>J & F Beauty blender Makeup Sponge Puff Pack of 5</h4>
                <img src="https://ci4.googleusercontent.com/proxy/tpjNTg4SPB55KQCu4GcZEatLmJWjbxZTa977KzaM0Yzs1VP1mezAAbEbct9Y-5qreLsTG8NBvklRGgYk-wAniUcF-VlsTNp7ShOYRCXtSm43Bc4fARc877WYhCVU50ahQC62tQ-fNT1KTQWziVRbjEcYm37d3qxQIvqR9Ih8VrQb89bxgA597v4KMUJ6w0jA7PHkbkiDr9CwZCEmUF8XjhiP36gr4hYQ6eZjMBTVia-47c8rAfvv_A=s0-d-e1-ft#https://rukminim1.flixcart.com/image/312/312/kij6f0w0-0/puff-sponge/a/x/7/beauty-makeup-blending-powder-puff-sponge-random-color-original-imafyazzp5qcbjgg.jpeg?q=70" width="200" height="200" />

                <p>4.1/5
                   
                </p>
                <form action="blenders" method="GET">
                    <label for="7">MRP</label>
                    <input id="7" type="text" style="width:65px; font-weight:bold;" name="cost" value="159"><del><small>199/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="J & F Beauty blender Makeup Sponge Puff Pack of 5"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>JAF BLUSH BRUSH WITH 2 SPONGE PUFF (PACK OF 3 ITEMS )</h4>
                <img src="https://ci5.googleusercontent.com/proxy/GXJzb2MsvNA1cw_fZMTeIANXL5LqQYFfNDct6bSnIdBU3TTa4bYzwrt1Ags9BFudXzIFPOBnZ_rxWbDKLAN4zA410Sr_vL9zCUHCkidPrXUK4sEn476QpMhL3jWtxh-zmDVi6WdUYLgzhhiT7Yv22MKkDrKuPkR74XkLkL8Zlx5592D5YBjfQIdWgrO_a-cfmcglhjpBuEx5-NdrqoIGJ2ZFhAaSHNndgwRzhhzc0bZtybd91TDxINnaPA=s0-d-e1-ft#https://rukminim1.flixcart.com/image/312/312/kdqa4y80/combo-kit/m/k/h/blush-brush-with-2-sponge-puff-pack-of-3-items-2-puff-1-brush-original-imafukrbpzgadngp.jpeg?q=70" width="200" height="200" />

                <p>4.4/5
                   
                </p>
                <form action="blenders" method="GET">
                    <label for="8">MRP</label>
                    <input id="8" type="text" style="width:65px; font-weight:bold;" name="cost" value="399"><del><small>449/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="JAF BLUSH BRUSH WITH 2 SPONGE PUFF (PACK OF 3 ITEMS )"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>Vega Makeup Blender Sponge (MPH - 01)</h4>
                <img src="https://ci4.googleusercontent.com/proxy/zqmXFlrXQsNLbiQP7kIYqjm8OAiPyoK7ssCARk3uV2MwHEWOvGQ3Zfk2Q9NvNlIWhO6gEYU3aya3e1_yVtABYsuXxBqmW-vyo4daGJ6zhZBGdLDlkORkWDEUTcsQnlNUoHdekGUfspJrNmaz62RZkwZpJeKTRZG91WgcYA=s0-d-e1-ft#https://www.netmeds.com/images/product-v1/600x600/1011623/vega_makeup_blender_sponge_mph_01_37_gm_0_0.jpg" width="200" height="200" />

                <p>4.5/5

                </p>
                <form action="blenders" method="GET">
                    <label for="9">MRP</label>
                    <input id="9" type="text" style="width:65px; font-weight:bold;" name="cost" value="399"><del><small>500</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Vega Makeup Blender Sponge (MPH - 01)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>

            <td>
                <h4>Midazzle Ultra soft Blender Makeup Sponge Set of 4 with box (Pink)</h4>
                <img src="https://ci6.googleusercontent.com/proxy/lAh_JGOGWGJ0gQ4TXxsKl4x61QzeMx6Pi4Jf4RpJzlzpVKvBG6FuqzIqrAHLrN144N5ob5bJg0BrrytJdkD9x480Ze5EXShALBTn3bBYjg8V4PjnGSUZMM__LIlgORmzLzED6-NAiI3WxhUXaep0dobpQNQW=s0-d-e1-ft#https://m.media-amazon.com/images/I/51D3fZxiz3L._SX466_PIbundle-4,TopRight,0,0_SX466SY545SH20_.jpg" width="200" height="200" />

                <p>4.1/5
                   
                   

                </p>
                <form action="blenders" method="GET">
                    <label for="10">MRP</label>
                    <input id="10" type="text" style="width:65px; font-weight:bold;" name="cost" value="400"><del><small>495/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Midazzle Ultra soft Blender Makeup Sponge Set of 4 with box (Pink)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>
        </tr>
        </table>
        <form action="cart" method="GET">
                    <center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="GO TO CART"></center>
        </form>
       
</body>
</html>

