<html>
<head>
    <title>

    </title>
    <style>
       tr, td {
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
            border:1px solid black;
        }
        table{
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
        }
        h1 {
            font-size: 50px;
            background-color: black;
            color: #d5d5f7;
            text-align: center;
            font-family: Papyrus;
            border: 1px solid #d5b5f7;
            box-shadow: 5px 10px 10px 15px #d5d5f7;
             padding-top:5px;
             padding-bottom:5px;
            margin-bottom:50px;
        }
        /*button{
         background-color : #d5b5f7;
        font-family: copperplate;

            border-radius:5px;
            position:center;
        }*/
    </style>
</head>
<body>
    <h1>Lipsticks</h1>
    <table>
        <tr>
            <td>
                <h4>Charlotte Tilbury Matte <br />
                Revolution Lipstick</h4>
                <img src="https://images-static.nykaa.com/media/catalog/product/tr:h-800,w-800,cm-pad_resize/e/8/e8aa1f75060332321308_1.jpg" width="200" height="200" />
                <p> 4.5/5  </P>
                   <p> 1434 ratings
                    &
                    758 reviews

                </p>

                <form action="lipstick" method="GET">
                    <label for="1">MRP</label>
                    <input id="1" type="text" style="width:65px; font-weight:bold;" name="cost" value="2550"><del><small>1111/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Charlotte Tilbury Matte
                    Revolution Lipstick">ADD TO CART <i class="bi bi-cart4"></i></button></form>
             </td>


             <td>
                <h4>Mamaearth Moisture Matte <br /> Longstay Lipstick</h4>
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQjeo3VL_cWpLKWJuOQxbxhSZidQmpVBwtI4WAGhbQa4H306RDTfetZfcGf_e0Wfltdj5ChcFaWkgHDPE3gQn6YLqriT59U1pzsU5gYvepbft89YhL0g58Q" width="150" height="150" />

                <p>5/5</p>
                <p>100 ratings & 400 reviews</p>
                <form action="lipstick" method="GET">
                    <label for="2">MRP</label>
                    <input id="2" type="text" style="width:65px; font-weight:bold;" name="cost" value="434"><del><small>499/-</small></del><br>
                  <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Mamaearth Moisture Matte">ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Renee Cosmetics See Me Shine <br> Lip Gloss - Pucker Up Peach
                    (2.5ml)</h4>
                <img src="https://sslimages.shoppersstop.com/sys-master/images/hd1/h88/27542347415582/S22REN121640762SS_PUCKER_UP_PEACH_alt1.jpg_2000Wx3000H" width="150" height="150" />

                <p>4.2/5

                </p>
                <form action="lipstick" method="GET">
                    <label for="3">MRP</label>
                    <input id="3" type="text" style="width:65px; font-weight:bold;" name="cost" value="350"><del><small>499/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Renee Lip Gloss"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Dot & Key Gloss Boss Tinted Lip Balm
                    SPF 30 Vitamin C + E - Cherry Pop (12 g)</h4>
                <img src="https://ci5.googleusercontent.com/proxy/K4-WATeOFAmwRBKz3oDN00hOGhOxe1-3eAajnhrUlmEm4lrVPComOtkrARKcbHNJ4yEKxOVythD3ThTwKfA5KMxHdigBz8KKQ8Ni4TZywqVXpkB-0ie1QEGtcIaLEH12P4xpwvev8b0vZJ4XAWqDWcvZQ-RoUBhV0zb99cPRLZCeT4F1nWjArd1hAa6pBp-ea4y7o709adU=s0-d-e1-ft#https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSsD2xSNESpzzfJ8fOpY-tL0RDhKo7qlLztFgO76dBUtKn2Cgt9rn2-GYfVUG2OUEAKKQ&usqp=CAU" width="150" height="150" />

                <p>4.2/5
                    2808 ratings & 409 reviews
                </p>
                <form action="lipstick" method="GET">
                    <label for="4">MRP</label>
                    <input id= "4" type="text" style="width:65px; font-weight:bold;" name="cost" value="212"><del><small>499/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Dot & Key Gloss Boss Tinted Lip Balm
                    SPF 30 Vitamin C + E - Cherry Pop (12 g)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>Maybelline New York Lifter Gloss - Petal (5.4ml)</h4>
                <img src="https://ci6.googleusercontent.com/proxy/tyoiHUd2Bonq96tpz47vL6m9aHcAT1YfizcUiD0JkWaPer435c75RfVXMgwV9A6XFzi4rfQUuz0LvCUyB9g_VUfzMwysM_a9q0smVJXeamaRH66r2YKL16KslCwj2G5-cCLJUJKh9JbxCzuMISolzmJkBxVgkQ=s0-d-e1-ft#https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCNHQJ9d0BFifeA0c1V8x-yQjBMbFsTwv9aw&usqp=CAU" width="150" height="150" />

                <p>4.5/5
                    1786 ratings & 465 reviews
                </p>
                <form action="lipstick" method="GET">
                    <label for="5">MRP</label>
                    <input id="5" type="text" style="width:65px; font-weight:bold;" name="cost" value="539"><del><small>499/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Maybelline New York Lifter Gloss - Petal (5.4ml)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>
              </tr>

            <br><br><br>
        <tr>
            <td>
                <h4>Swiss Beauty Bold Matt Lip Liner</h4>
                <img src="https://ci3.googleusercontent.com/proxy/xjMFPezi-I93r6IpThz2NKokIgi6LJdjWwf9tmaczwdL4FHDRgoqKK-deDwl-vGJqgw1lkQYT512AFR8xww1TeWuC6GT8e8I9eswWzwY6A=s0-d-e1-ft#https://m.media-amazon.com/images/I/61CQfI2uF8L._SL1500_.jpg" width="150" height="150" />

                <p>4/5
                    4193 ratings & 688 reviews
                </p>
                <form action="lipstick" method="GET">
                    <label for="6">MRP</label>
                    <input id="6" type="text" style="width:65px; font-weight:bold;" name="cost" value="599"><del><small>499/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Swiss Beauty Bold Matt Lip Liner"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>




            <td>
                <h4>Nykaa Lip Crush Macaron
                    Lip Balm - Lemon 04 (8gm)</h4>
                <img src="https://ci5.googleusercontent.com/proxy/QNsMlvS2Zl9-3NTCKbxMPrWaswaRIxZBZK3ygLZRqtouskW0cY3_6qGSOB2sc5jLX3YXHziAy0WPUbD9uhltm_K1i9NKQqFHkU5wBkez=s0-d-e1-ft#https://m.media-amazon.com/images/I/316dVoFUKXL._SX569_.jpg" width="150" height="150" />

                <p>4.2/5
                    30732 ratings & 6819 reviews
                </p>
                <form action="lipstick" method="GET">
                    <label for="7">MRP</label>
                    <input id="7" type="text" style="width:65px; font-weight:bold;" name="cost" value="209"><del><small>499/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Nykaa Lip Crush Macaron
                    Lip Balm - Lemon 04 (8gm)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Huda Beauty Matte Liquid
                    Lipstick - Wifey (4.2ml)</h4>
                <img src="https://ci4.googleusercontent.com/proxy/81JBQz8tCrAufTgLOPbGwLQnQ7Irq4p58KUYf7_VLsqgc3CuVE2GRiG-CYt2HjAoAivkPwYaTvi0X6LwIVog6QBXcKrMIqE3leUWxe5kVcX4I7ZeQ0fLgXJFqsZtcW6WVdURKRJ-mcOCuKCReoL7VdQrxmDNetdI3l4Ep6qA4xUILuUZsvHu3UkKe13EJO3DNwQaRVJkd4vNyTKjSez6DqGXfjQGthYhwhfP-Q=s0-d-e1-ft#https://rukminim1.flixcart.com/image/300/300/j23lqq80/lip-gloss/n/d/7/7-6-liquid-matte-minis-red-edition-huda-beauty-original-imaetgu2wgwtnasx.jpeg?q=90" width="150" height="150" />

                <p>4.2/5
                    527 ratings & 193 reviews
                </p>
                <form action="lipstick" method="GET">
                    <label for="8">MRP</label>
                    <input id="8" type="text" style="width:65px; font-weight:bold;" name="cost" value="1900"><del><small>499/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Huda Beauty Matte Liquid
                    Lipstick - Wifey (4.2ml)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>304 Baked Orange Splash
                    Super Matte Lipstick</h4>
                <img src="https://ci5.googleusercontent.com/proxy/q2BpBZURRokZ6-FyK4K7AxGW8X2cwT1DoKeS5DVtr7_mM0Iv3vNcMLjhm2JrN8ejP8zxxb9BEh6E4BEIcBvuq9Sb1Tj1f_khL3Mvus5G=s0-d-e1-ft#https://m.media-amazon.com/images/I/61s467FKbPL._SX522_.jpg" width="150" height="150" />

                <p>3.6/5

                </p>
                <form action="lipstick" method="GET">
                    <label for="9">MRP</label>
                    <input id="9" type="text" style="width:65px; font-weight:bold;" name="cost" value="165"><del><small>499/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="304 Baked Orange Splash
                    Super Matte Lipstick"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>

            <td>
                <h4>Mettle Liquid Lipstick</h4>
                <img src="https://ci4.googleusercontent.com/proxy/8Mt82YL4KZBux7DBb98NvSRtYco1DIBIf3im8PDTSFRman_vTzbnBZ_V7OUFzlXb-mnuJW0M81JHeB9lDJhDEkTnIrYNf0SxCPJcKvLLsRYId0l4rfU5kjk4wm8yp4-gC_vzOEtJHArcaBrn4XZctlJaN2U5hM4EXGQF=s0-d-e1-ft#https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTj4vc4Ti2BYdQJkScCakduh7-4RM0BonY_nEXWW1AmEBeXpdsi" width="150" height="150" />

                <p>4.9/5

                </p>
                <form action="lipstick" method="GET">
                    <label for="10">MRP</label>
                    <input id="10" type="text" style="width:65px; font-weight:bold;" name="cost" value="1199"><del><small>499/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Mettle Liquid Lipstick"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>
        </tr>
        </table>
    <br>
    <br>
        <form action="cart" method="GET">
                    <center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="GO TO CART"></center></form>
   
</body>
</html>
