<html>
<head>
    <title>

    </title>
    <style>
          tr, td {
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
            border:1px solid black;
        }
        table{
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
        }
        h1 {
            font-size: 50px;
            background-color: black;
            color: #d5d5f7;
            text-align: center;
            font-family: Papyrus;
            border: 1px solid #d5b5f7;
            box-shadow: 5px 10px 10px 15px #d5d5f7;
             padding-top:5px;
             padding-bottom:5px;
            margin-bottom:50px;
        }
</style>
</head>
<body>
    <h1>Nail polish</h1>
    <table>
        <tr>
            <td>
                <h4>
                    Lakme Color Crush Nail Art - U4</h4>
                <img src="https://ci6.googleusercontent.com/proxy/B8lWMkMmmb7yDwqdOZCUD_85lFCQ1CjvkV0rj51TYnAXfpj1RK8ZeuMLw3JMO20jp56dxbYEpstC9SwqebfYbeQepKq_OUvVQrjfqRMcYLlbEKWVY7Br_9Z37x2o_vNN_e6qQ7RK5t7H8g=s0-d-e1-ft#https://www.bigbasket.com/media/uploads/p/l/40141812-3_1-lakme-color-crush-nail-art.jpg" width="150" height="150" />
                <p> 4.3/5  </P>
                   <p> 25435 ratings & 4261 reviews
                </p>

                <form action="nailpolish" method="GET">
                    <label for="1">MRP</label>
                    <input id="1" type="text" style="width:65px; font-weight:bold;" name="cost" value="160/-" readonly><del><small>299/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Lakme Color Crush Nail Art - U4">ADD TO CART <i class="bi bi-cart4"></i></button></form>
             </td>


             <td>
                <h4>Renee Cosmetics Stick On Nails - Bn 06</h4>
                <img src="https://ci5.googleusercontent.com/proxy/YL_5Wudx_c8ksZ4NBqJkzjtHr2RDpX-UcLlk0mVQBMN78cw2gPvf7vYsR4obQ__9JAU4N9WGhUZ0N87EMyJG4uCcb46w8mhPt6GNwl0MvQInmR8xqQ=s0-d-e1-ft#https://ik.imagekit.io/hng/pdp/pdp-content/mobile/565868_2.jpg?v=1" width="150" height="150" />

                <p>4/5</p>
                <p>5 ratings & 1 reviews</p>
                <form action="nailpolish" method="GET">
                    <label for="2">MRP</label>
                    <input id="2" type="text" style="width:65px; font-weight:bold;" name="cost" value="499" readonly><del><small>660/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Renee Cosmetics Stick On Nails - Bn 06">ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Nykaa Nail Enamel - You Croc My World 278</h4>
                <img src="https://ci3.googleusercontent.com/proxy/zHvzUN8uNbxdZtPTeFRXutjp6grEzk5Aw50OQCGMZFTMeL6N4cRhh7f8olqCSWPjJTO5JMJ1pzqGvA0LcVwo2MP_udgPENThiMFaGL_363Kfuz00ORcO-sKO9l0mUjLfKskWuczE8DvMguzheWhtlCM6Dio5vz872X-lvDr0uYYNscZhbqMaT_cJWCtnb3xZSwOQV-Gg0lc=s0-d-e1-ft#https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSntoJoEQJxSh4M3QMSzopXjowlf-8HYF6SIa-nO0NdEdSyFzDNnLH7BOrFQ_tg9mz3OJ0&usqp=CAU" width="150" height="150" />

                <p>4.3/5
                     25435 ratings & 4261 reviews
                </p>
                <form action="nailpolish" method="GET">
                    <label for="3">MRP</label>
                    <input id="3" type="text" style="width:65px; font-weight:bold;" name="cost" value="160" readonly><del><small>200/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Nykaa Nail Enamel - You Croc My World 278"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Lakme Color Crush Nail Art - U4</h4>
                <img src="https://ci6.googleusercontent.com/proxy/2m4aGpFY3IkbF-XynWsuoVLehrbEM08ifM-7HF6bNOLQORVhtLTEhWihfWSr-eh3iUKOE4_oaIIq7pFfGNt0_abL9WngA5Bd_eXaLt_HYxt_ZqOSqIOqWzae2PWZcHNg4BPPkhNHy83HOFSg--aB5QWP7W1OXCHU7hOLhci7H9_Vf5UeePcWQktf2RvW3MO9_1stwJH1lM8=s0-d-e1-ft#https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa8cviHCAxBQT5pi8OOO2dC8LqP80iag7CVo5pkwPjJo5c9OXriR6xXvzCJheb73I1cts&usqp=CAU" width="150" height="150" />

                <p>4.3/5 25435 ratings & 4261 reviews
                </p>
                <form action="nailpolish" method="GET">
                    <label for="4">MRP</label>
                    <input id= "4" type="text" style="width:65px; font-weight:bold;" name="cost" value="160" readonly><del><small>249/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Lakme Color Crush Nail Art - U4"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>Lakme Color Crush Nail Art - U4</h4>
                <img src="https://ci4.googleusercontent.com/proxy/GHgm5Y3sy_Xaz7UboYjW2dms2gYNfbds-lw5z78By9gGfWwI6FMmySABfc4uMCpncFrlZ71cddB5qwdX6tCY-PoiazsNv-O91ftV4EHXYLXV6h0IRkH9c1WhKlFON_Z8Hmaxns6eQJ92jjmuHod9RsmV3PIiPZs9A8BhPFflURp7li8t=s0-d-e1-ft#https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/9/0/90971908901030715693_1.jpg" width="150" height="150" />

                <p>4.3/5
                     25435 ratings & 4261 reviews
                </p>
                <form action="nailpolish" method="GET">
                    <label for="5">MRP</label>
                    <input id="5" type="text" style="width:65px; font-weight:bold;" name="cost" value="200" readonly><del><small>349/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Lakme Color Crush Nail Art - U4"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>
            </tr>

            <br><br><br>
        <tr>
            <td>
                <h4>Bella Voste Premium Nail Enamel St.61 - Gold (10ml)
                </h4>
                <img src="https://ci5.googleusercontent.com/proxy/_kzLXPiiqFuIwO41iMreO-OEux2YgZDcZMuRvuvaD-1ZevMrSDienrzesMo442XkqQNcyZaq8Xxw_kC15hcsNhaJeTSemj0vDoZqCIfAVEVooIhdFuA76LXCpbnWR5BgnZ4ma0_3DaByDqvK8l72yDLAR78JqV5a4vjtj8eLmA=s0-d-e1-ft#https://images-static.nykaa.com/media/catalog/product/tr:h-800,w-800,cm-pad_resize/n/y/nybelvst00137-2_1.png" width="150" height="150" />

                <p>4.3/5
                    713 ratings & 126 reviews
                </p>
                <form action="nailpolish" method="GET">
                    <label for="6">MRP</label>
                    <input id="6" type="text" style="width:65px; font-weight:bold;" name="cost" value="84" readonly><del><small>99/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Bella Voste Premium Nail Enamel St.61 - Gold (10ml)
                    "> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>




            <td>
                <h4>L'Oreal Paris Nail Paint, 330 Fuchsia Palace, 13.5ml</h4>
                <img src="https://ci5.googleusercontent.com/proxy/ms5EQn9XerZXlodXk_blHmFQbOppNZqIjLI-n3NKTr-NjI2jKr6jexeuudXczB_JYHSyPWfuY_l3oQWEIq7jCPPnPzZD4Sl7XLYYIYJEPEz1T_cn9vgaplySooHT=s0-d-e1-ft#https://m.media-amazon.com/images/I/81OcmOQkyGL._AC_UL480_FMwebp_QL65_.jpg" width="150" height="150" />

                <p>4/5
                   
                </p>
                <form action="nailpolish" method="GET">
                    <label for="7">MRP</label>
                    <input id="7" type="text" style="width:65px; font-weight:bold;" name="cost" value="3686" readonly><del><small>5269/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="L'Oreal Paris Nail Paint, 330 Fuchsia Palace, 13.5ml"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Sally Hansen Insta-Dri Fast-Dry Nail Color, Pinks</h4>
                <img src="https://ci3.googleusercontent.com/proxy/oc0JT1yHEUWOrp6CMQYJXZFnF3GAsYOMmkYFhVIghqAultp-f3tkhAgR_argIHpRkBmZkX5NsbDJ-oYcS1JcEf6T3yh5A6-q7bBu_lxvwl8zwQf5gw8aRQRCxqzawtXgswKSF7sNsdA=s0-d-e1-ft#https://images-eu.ssl-images-amazon.com/images/I/91pzp87BCRL._AC_UL116_SR116,116_.jpg" width="150" height="150" />

                <p>4.4/5
                   
                </p>
                <form action="nailpolish" method="GET">
                    <label for="8">MRP</label>
                    <input id="8" type="text" style="width:65px; font-weight:bold;" name="cost" value="244" readonly><del><small>349/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Sally Hansen Insta-Dri Fast-Dry Nail Color, Pinks"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>FAST DRYING GEL NAIL LACQUER</h4>
                <img src="https://ci6.googleusercontent.com/proxy/pRnFHYD2OVC-jLHSdnJdVjTIEIemu2RVruodLnYlconzl1XXkrRaJbLB_yDosqotu7ZsuYV9Pf2nxL3Uen1TqF8jhd901DdcbT-bwr6WP-fvn5ZMreo_RuKYAXU5qiQ56fh502RbutmH7efPgqT3FYd534F5pq9tog-i6xkiUX4Xd71sBPRsBzr7Gl3lsnAO_HoCominDEjInAbIm03MMfu71z9j7ReFtM4ex5U3GDoApa3SqICJDZTjt9yzP6gdDNT6tvQkFERLvaELnQovl7Q6P-Xb2Kpmiq5NRg8eMmEiRtH0-Ucczy9GlJc24ZAdXbHspvXMZsTOQLYRyUuXM8JvEAhGlbBgglHaR4sRaI8c7QbyYpodVgLls8nnZXLNzM1jYUZS1bDjjg=s0-d-e1-ft#https://www.lancome.in/dw/image/v2/BJSQ_PRD/on/demandware.static/-/Sites-lancome-ng-master-catalog/default/dw179ac7dc/images/PACKSHOTS/MAKEUP/face/00106-LAC-LONG-TIME-NO-SHINE/Lancome-Powder-LONG-TIME-NO-SHINE-Translucent-000-3614272126008.jpg?sw=698&sh=698&sm=cut&sfrm=png&q=70" width="150" height="150" />

                <p>4.7/5

                </p>
                <form action="nailpolish" method="GET">
                    <label for="9">MRP</label>
                    <input id="9" type="text" style="width:65px; font-weight:bold;" name="cost" value="$2.50" readonly><del><small>5</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="FAST DRYING GEL NAIL LACQUER"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>

            <td>
                <h4>Plum Color Affair Nail Polish - Winter Rose - 122</h4>
                <img src="https://ci3.googleusercontent.com/proxy/a8zOB0_mv4BZ9ve99kcSFUaIldvR8uVHVJFHzFBMXcQJ6J5gx9q0rE1dk2-lqQtNO8obhARMMQWBZq24R41IqmuqiVC2wiGwwXcg-vteHYdHAp1-y9h92QcQneEco7-g3bMeytovKlnuJ8HYRBiSxlxZzzR3Np4n8b2YloUY2MsQkoH1Xx_ExnnotP1L_r-hNCyGmwc8M7RAn9QuY60lm0bfrS6DheT4no9372fUqW00n2MMWFcesdHTk7HbJNA=s0-d-e1-ft#https://rukminim1.flixcart.com/image/416/416/kqwobrk0/nail-polish/y/z/t/11-color-affair-nail-polish-winter-rose-122-7-free-formula-high-original-imag4tbfndmkg9ks.jpeg?q=70" width="150" height="150" />

                <p>4.4/5
                   
                    3269 ratings & 748 reviews

                </p>
                <form action="nailpolish" method="GET">
                    <label for="10">MRP</label>
                    <input id="10" type="text" style="width:65px; font-weight:bold;" name="cost" value="156" readonly><del><small>195/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Plum Color Affair Nail Polish - Winter Rose - 122"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>
        </tr>
        </table>
        <form action="cart" method="GET">
                    <center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="GO TO CART"></center></form>
   
</body>
</html>

