<html>
<head>
    <title>

    </title>
   
     <style>
          tr, td {
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
            border:1px solid black;
        }
        table{
            padding-left: 20px;
            border: 20px 20px 20px 20px;
            padding: 5px 25px 40px 30px;
        }
        h1 {
            font-size: 50px;
            background-color: black;
            color: #d5d5f7;
            text-align: center;
            font-family: Papyrus;
            border: 1px solid #d5b5f7;
            box-shadow: 5px 10px 10px 15px #d5d5f7;
             padding-top:5px;
             padding-bottom:5px;
            margin-bottom:50px;
        }

         </style>
</head>
<body>
    <h1>Powders</h1>
    <table>
        <tr>
            <td>
                <h4>MATTIFYING LOOSE SETTING POWDER</h4>
                <img src="https://ci6.googleusercontent.com/proxy/pRnFHYD2OVC-jLHSdnJdVjTIEIemu2RVruodLnYlconzl1XXkrRaJbLB_yDosqotu7ZsuYV9Pf2nxL3Uen1TqF8jhd901DdcbT-bwr6WP-fvn5ZMreo_RuKYAXU5qiQ56fh502RbutmH7efPgqT3FYd534F5pq9tog-i6xkiUX4Xd71sBPRsBzr7Gl3lsnAO_HoCominDEjInAbIm03MMfu71z9j7ReFtM4ex5U3GDoApa3SqICJDZTjt9yzP6gdDNT6tvQkFERLvaELnQovl7Q6P-Xb2Kpmiq5NRg8eMmEiRtH0-Ucczy9GlJc24ZAdXbHspvXMZsTOQLYRyUuXM8JvEAhGlbBgglHaR4sRaI8c7QbyYpodVgLls8nnZXLNzM1jYUZS1bDjjg=s0-d-e1-ft#https://www.lancome.in/dw/image/v2/BJSQ_PRD/on/demandware.static/-/Sites-lancome-ng-master-catalog/default/dw179ac7dc/images/PACKSHOTS/MAKEUP/face/00106-LAC-LONG-TIME-NO-SHINE/Lancome-Powder-LONG-TIME-NO-SHINE-Translucent-000-3614272126008.jpg?sw=698&sh=698&sm=cut&sfrm=png&q=70" width="200" height="200" />
                <p> 4.7/5  </P>
                   <p> 250 ratings & 127 reviews
                </p>

                <form action="powders" method="GET">
                    <label for="1">MRP</label>
                    <input id="1" type="text" style="width:65px; font-weight:bold;" name="cost" value="4000/-"><del><small>5990/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="MATTIFYING LOOSE SETTING POWDER">ADD TO CART <i class="bi bi-cart4"></i></button></form>
             </td>


             <td>
                <h4>Lakme Rose Face Powder With Sunscreen - Warm Pink (40gm)</h4>
                <img src="https://ci4.googleusercontent.com/proxy/nUDPX-S3MexDdLWC0Avl5O2c2_PampYMC-weogy1Re4ss-pJh9zoHmoIYGlinaxE5WZCiJVc8KoUHHuOq1wHs_-T80p8GtmsYYtRsZIr6ByfVRcF_BwNXZoGW-i6r9kh9w-EDoQ4R8EfOwGMblAG_EzZShsj9bOqcF_t9NgFxfvtKFsP8rBa9A=s0-d-e1-ft#https://images-static.nykaa.com/media/catalog/product/tr:h-800,w-800,cm-pad_resize/8/6/86c4d0dlak_8901030174766_h.jpg" width="200" height="200" />

                <p>4.4/5</p>
                <p>18979 ratings & 3566 reviews</p>
                <form action="powders" method="GET">
                    <label for="2">MRP</label>
                    <input id="2" type="text" style="width:65px; font-weight:bold;" name="cost" value="1550"><del><small>2000/-</small></del><br>
                 <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Lakme Rose Face Powder With Sunscreen - Warm Pink (40gm)">ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Lakme 9 to 5 Naturale Finishing Powder (8gm)</h4>
                <img src="https://ci3.googleusercontent.com/proxy/CrV0hGWaSMl21d68FIuZ2CXsngHuAKsOYYGlzw9zRzZ_IruLWmIQuROFvcxj9WjGWurVDHEMmPK5aJmKc41b4BwTm8P7iKfZkH4aqks-ucXCWU2hhERFjLxzN4O7TIIWXFJLNXKZqQ=s0-d-e1-ft#https://images-static.nykaa.com/media/catalog/product/2/4/24183_h-8901030693144m.jpg" width="200" height="200" />

                <p>4.3/5
                    1658 ratings & 498 reviews
                </p>
                <form action="powders" method="GET">
                    <label for="3">MRP</label>
                    <input id="3" type="text" style="width:65px; font-weight:bold;" name="cost" value="510"><del><small>600/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Lakme 9 to 5 Naturale Finishing Powder (8gm)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Swiss Beauty Baked Blusher & Highlighter - 03 (7gm)</h4>
                <img src="https://ci6.googleusercontent.com/proxy/TnEiHfMSa8ocXz4QBU0opHgMXRg3TGS2wBU_q7uvHpKfheBjJC9sm0paBQKyHBPmTuNv-yJMGht4tS8QvhNsHfjTFtGGX96U_jnIZ-Z7YL8J23ZPSOoiMzOcf3vyuGjw2SN6Hz-EjA=s0-d-e1-ft#https://images-static.nykaa.com/media/catalog/product/1/8/18e10098904325000634_1.jpg" width="200" height="200" />

                <p>4/5
                    11085 ratings & 1410 reviews
                </p>
                <form action="powders" method="GET">
                    <label for="4">MRP</label>
                    <input id= "4" type="text" style="width:65px; font-weight:bold;" name="cost" value="262"><del><small>349/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Swiss Beauty Baked Blusher & Highlighter - 03 (7gm)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>Lakme Absolute Liquid Highlighter - Bronze (25ml)/h4>
                <img src="https://ci3.googleusercontent.com/proxy/lymN6UY27wib_60-WI6SpjHEP9UPzOG7eXZHfyWRoMPfXZCGHCEpIMkmNu1Z_tul-ZyVPgNjZlobvP2LBTdwAUVOI9gMpO82ubFvq4afi-HQR0hhpJPkH1_xzB7kzjt7-lut3f3gMhGI2aDM-w=s0-d-e1-ft#https://images-static.nykaa.com/media/catalog/product/7/0/7043d1529095_h-8901030846526.jpg" width="200" height="200" />

                <p>3.5/5
                    1689 ratings & 179 reviews
                </p>
                <form action="powders" method="GET">
                    <label for="5">MRP</label>
                    <input id="5" type="text" style="width:65px; font-weight:bold;" name="cost" value="390"><del><small>650/-</small></del><br>
                    <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Lakme Absolute Liquid Highlighter - Bronze (25ml)"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <br><br><br>
            </tr>
           <tr>
            <td>
                <h4>Wet n Wild, Color Icon Bronzer, Soft and Creamy Bronzer</h4>
                <img src="https://ci3.googleusercontent.com/proxy/wqq2BI0IlzwviqiRP7CvmypagoY3BT6lNS4W1tsM1WY2g8FlsV_05cE6Fdh8lkZCiIAW59_0XjZmgfpOErGDzp2WmqHsqCITrn1nhXeS=s0-d-e1-ft#https://m.media-amazon.com/images/I/91LVBA5vFVL._SX522_.jpg" width="200" height="200" />

                <p>3.8/5
                    2689 ratings & 379 reviews
                </p>
                <form action="powders" method="GET">
                    <label for="6">MRP</label>
                    <input id="6" type="text" style="width:65px; font-weight:bold;" name="cost" value="600"><del><small>900/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Wet n Wild, Color Icon Bronzer, Soft and Creamy Bronzer"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>




            <td>
                <h4>L.A GIRL Velvet Contour Bronzer Stick, Goddess</h4>
                <img src="https://ci3.googleusercontent.com/proxy/5XDvWCh1dQhtAwbJ2Fh4dRAtBhJbrKHPcw-OEBgwEjO9UmNnFLAR33QijdxuD16F2r4oSODC4F4x1Xr4E-5cu4RdRs1vO7HlGEbxQR-6oPXc=s0-d-e1-ft#https://m.media-amazon.com/images/I/41OSlan3pTL._AC_UL320_.jpg" width="150" height="150" />

                <p>3.9/5
                   
                </p>
                <form action="powders" method="GET">
                    <label for="7">MRP</label>
                    <input id="7" type="text" style="width:65px; font-weight:bold;" name="cost" value="595"><del><small>700/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="L.A GIRL Velvet Contour Bronzer Stick, Goddess"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>



            <td>
                <h4>Lakme Perfecting Liquid Foundation</h4>
                <img src="https://ci5.googleusercontent.com/proxy/ayvOIgndPDhopMbzQWYyn29Pa7qDpPvxpQhw-_ZzH6xluUcEEgc7ejGUhB5b8oBxmRV7oGQjvLud_1OLmO8wBPC-LBA4BUrKjslpwt1A=s0-d-e1-ft#https://m.media-amazon.com/images/I/41lxB1R1yAL._SY355_.jpg" width="200" height="200" />

                <p>4/5
                   
                </p>
                <form action="powders" method="GET">
                    <label for="8">MRP</label>
                    <input id="8" type="text" style="width:65px; font-weight:bold;" name="cost" value="136"><del><small>179/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Lakme Perfecting Liquid Foundation"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>


            <td>
                <h4>COURTESY OF BRAND</h4>
                <img src="https://ci4.googleusercontent.com/proxy/y1vBl0SDGWrfLPMhBe6Fb1p0ldNpjYTxI2odCATxZKRUSlMzGZylWu8dpDqObLiw5NtQFZ6F6ZLjp6ovVngzx8JcjeIy6lQN0tCc_eHE8X9GgVD5NXdW-1z0WIBaNufwtHfvM9ksXSmVDe2o_JkR2t3go9pdcygJejPwZED8cWtdNO3iIEhPgCGieLeY8wTA_aA54bin0velSSLuoEHb6DC4eFngsrWusr2emPV1Lta7_QA7RiD81hqrZSKT=s0-d-e1-ft#https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1649328044-best-foundation-charlotte-tilbury-1649328001.jpg?crop=0.6666666666666666xw:1xh;center,top&resize=768:*" width="200" height="200" />

                <p>4.6/5

                </p>
                <form action="powders" method="GET">
                    <label for="9">MRP</label>
                    <input id="9" type="text" style="width:65px; font-weight:bold;" name="cost" value="399"><del><small>500</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="COURTESY OF BRAND"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>

            <td>
                <h4>Perfect Touch BB Amazing Foundation Signature Essence Cover Nutrition For Skin Foundation</h4>
                <img src="https://ci3.googleusercontent.com/proxy/cgtpgaKq9I2YVVcPLl1Sf6_FARaxverTKRQUow4K5v6UfmDrdl7cKlo2yJqvcVNNncvi8-HnveZG3bEfpHqTr1oC_XIwTwuaRArKHkH0toqBPvs1zqi3zGQ4ZOcZZAD84oCxj7H5jKLjPOwj-2UFODoY4DfG1eM4BRWS1ZU-Vq6wfA6JmuwzLQX_Q20BojA0Gzx2QraxGAhWJG_XORiHmQ21Y0xI1KmBwUrudNPqlQDNuGDlMScvOlVb=s0-d-e1-ft#https://rukminim1.flixcart.com/image/416/416/xif0q/foundation/l/m/4/60-bb-amazing-foundation-signature-essence-cover-nutrition-for-original-imagkd9rzgx3qpr3.jpeg?q=70" width="200" height="200" />

                <p>4.3/5
                </p>
                <form action="powders" method="GET">
                    <label for="10">MRP</label>
                    <input id="10" type="text" style="width:65px; font-weight:bold;" name="cost" value="250"><del><small>599/-</small></del><br>
                <br>
                <br>
                    <button type="submit" class="btn btn-warning" name="item" value="Perfect Touch BB Amazing Foundation Signature Essence Cover Nutrition For Skin Foundation"> ADD TO CART <i class="bi bi-cart4"></i></button></form>
            </td>
        </tr>
        </table>
        <form action="cart" method="GET">
                    <center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="GO TO CART"></center></form>
   
</body>
</html>
